body
{
	background:url(../images/bg-logo.png) no-repeat 90% -105px;
}

#page-wrapper 
{
	width:100%;
	max-width:990px;
	margin:0 auto;

	& > div 
	{
		padding:0 20px;

	}
}

#navigation
{
	padding:30px 0;
	border-bottom:1px solid #f5f5f5;
	height:90px;
}

#logo
{
	float:left;

	img 
	{
		height:90px;
		width:auto;
	}
}

#block-system-main-menu 
{
	float:right;

	ul 
	{
		list-style:none;

		& > li 
		{
			float:left;
			list-style:none;
			margin:0;
			padding:0;

			& > a 
			{
				display:block;
				line-height:90px;
				padding:0 16px;
				color:#4c4c4c;
				font-size:16px;
				text-decoration:none;
				font-weight:bold;
				text-transform:uppercase;

				&:hover
				{
					color:#a54399;
				}
			}

			&.last > a 
			{
				padding-right:0;
			}
		}
	}
}

.front
{
	#page-title
	{
		display:none;
	}

	#block-system-main 
	{
		display:none;
	}
}

#main-wrapper 
{
	padding:30px 0;
	border-top:1px solid #efefef;
	border-bottom:1px solid #f5f5f5;
}

#footer 
{
	border-top:1px solid #efefef;
	padding:30px 0;
	overflow:hidden;
}

#copyright
{
	float:left;
	clear:left;
	color:#808080;
	font-size:12px;
	margin-top:25px;
}
#site-by-cci 
{
	float:right;
	color:#808080;
	font-size:12px;
	margin-top:30px;

	a 
	{
		text-decoration:none;
		color:#808080;

		&:hover
		{
			text-decoration:underline;
		}
	}
}

#content,
#footer .region-footer
{
	margin:0 -5px;
}

#main .block,
#footer .block,
.view-news .views-row
{
	float:left;
	margin:5px;
	position:relative;

	& > .content 
	{
		position:absolute;
		top:5px;
		right:5px;
		bottom:5px;
		left:5px;
		border:4px solid white;
		text-shadow:3px 3px 5px rgba(0,0,0,0.2);
		text-align:center;
		color:white;
		line-height:100%;
		font-weight:bold;

		& > div 
		{
			display:table;
			height:100%;
			width:100%;

			& > div 
			{
				display:table-cell;
				vertical-align:middle;
			}
		}

		a 
		{
			color:white;
			text-decoration:none;
			display:block;
		}
	}
}

.block-1x1
{
	width:310px;
	height:310px;

	.content 
	{
		font-size:28px;
	}
}
.block-2x2
{
	width:470px;
	height:470px;

	.content 
	{
		font-size:50px;
	}
}
.block-1x2
{
	width:310px;
	height:630px;

	.content 
	{
		font-size:50px;
	}
}
.block-2x1
{
	width:630px;
	height:310px;

	.content 
	{
		font-size:50px;
	}
}
.block-footer-1x1
{
	width:96px;
	height:96px;
}
.block-footer-3x1
{
	width:311px;
	height:96px;

	.content 
	{
		font-size:20px;
	}
}

#block-block-4,
#block-block-5,
#block-block-7,
#block-block-8,
#block-block-9,
#block-block-11
{
	@extend .block-1x1;
}
#block-block-1,
#block-block-2 
{
	@extend .block-2x2;
}
#block-block-3 
{
	@extend .block-1x2;
}
#block-block-6,
#block-block-10
{
	@extend .block-2x1;
}
#block-block-12,
#block-block-13,
#block-block-14
{
	@extend .block-footer-1x1;
}
#block-block-15,
#block-block-16
{
	@extend .block-footer-3x1;
}

#block-block-1
{
	background:url(../images/bg/bg1.jpg) no-repeat left top;
}
#block-block-2
{
	background:url(../images/bg/bg2.jpg) no-repeat left top;
}
#block-block-3
{
	background:url(../images/bg/bg3.jpg) no-repeat left top;
}
#block-block-4 
{
	background:#a54399 url(../images/bg/bg-logo-highlight.png) no-repeat center bottom;
}
#block-block-5 
{
	background:#3f5aa5 url(../images/bg/bg-glow.png) no-repeat center center;
	
	& > .content 
	{
		background:url(../images/bg/fb.png) no-repeat center center;
		text-indent:-99999px;
	}

	&:hover > .content 
	{
		background-image:url(../images/bg/fb-hover.png);
		text-indent:0;
	}
}
#block-block-6
{
	background:url(../images/bg/bg6.jpg) no-repeat left top;
}
#block-block-7
{
	background:#10a3a5 url(../images/bg/bg-logo-highlight.png) no-repeat center bottom;
}
#block-block-8
{
	background:#32ccfe url(../images/bg/bg-glow.png) no-repeat center center;

	& > .content
	{
		font-size:26px!important;
		background:url(../images/bg/tw.png) no-repeat center center;
		text-indent:-99999px;
	}

	&:hover > .content 
	{
		text-indent:0;
		background-image:url(../images/bg/tw-hover.png);
	}
}
#block-block-9
{
	background:#8143a5 url(../images/bg/bg-logo-highlight.png) no-repeat center bottom;
}
#block-block-10
{
	background:url(../images/bg/bg10.jpg) no-repeat left top;
}
#block-block-11
{
	background:url(../images/bg/bg11.jpg) no-repeat left top;
}
#block-block-12
{
	background:#3f5aa5 url(../images/bg/fb-footer.png) no-repeat center center;
}
#block-block-13
{
	background:#32ccfe url(../images/bg/tw-footer.png) no-repeat center center;
}
#block-block-14
{
	background:#007fb2 url(../images/bg/in-footer.png) no-repeat center center;
}
#block-block-15
{
	background:#b31d63;
}
#block-block-16
{
	background:#a54399 url(../images/bg/trillium.png) no-repeat center center;
}





#block-system-main.block
{
	@extend .block;

	width:630px;
	background:#a54399 url(../images/bg-logo-med.png) no-repeat center center;

	& > .content 
	{
		position:static;
		margin:5px;
		padding:30px;
		font-weight:normal;
		text-align:left;
		font-size:18px;
		line-height:normal;
		min-height:552px;
	}

	p 
	{
		margin-bottom:0.8em;
	}

	ul, ol 
	{
		margin-left:20px;
		margin-bottom:0.8em;
	}
}
body.not-front #block-system-main.block a 
{
	display:inline;
	text-decoration:underline;
	color:#fcd6f8;
}

#page-title
{
	@extend .block;

	height:310px;
	width:950px;
	text-transform:uppercase;
	background:url(../images/title/bg1.jpg) no-repeat left top;

	h1 
	{
		font-size:50px;
	}
}

body.page-node-3 #page-title
{
	background:url(../images/title/get-involved.jpg);
}
body.page-node-4 #page-title
{
	background:url(../images/title/get-help.jpg);
}
body.page-news #page-title
{
	background:url(../images/title/news.jpg);
}
body.page-node-6 #page-title
{
	background:url(../images/title/resources.jpg);
}


body.page-news
{
	#block-block-8
	{
		@extend .block-1x2;
	}

	#block-system-main.block
	{
		background:none;

		& > .content 
		{
			margin:0;
			padding:0;
			font-weight:normal;
			font-size:18px;
			line-height:normal;
			border:0;
		}

		.view-news 
		{
			margin:-5px;

			ul.pager 
			{
				margin:25px 0 0 0;
				clear:left;

				a
				{
					padding:0!important;
					color:#8646a9;
					text-decoration:underline;
				}

				li 
				{
					color:#8646a9;
					display:inline-block;
				}
			}

			& > .view-content
			{
				overflow:hidden;
				min-height:960px;
			}

			.views-row
			{
				background:#b44eaa url(../images/bg/bg-logo-highlight.png) no-repeat center center;
				width:310px;
				height:310px;
				position:absolute;
				word-wrap:break-word;

				& > .content 
				{
					font-size:18px;
					font-weight:normal;
					text-align:center;
					overflow:hidden;

					& > div > div 
					{
						padding:10px;
						overflow:hidden;
						position:relative;
					}
				}

				&.views-row-1
				{
					background-color:#10a3a5;
					top:-5px;
					left:-5px;
				}
				&.views-row-2
				{
					top:-5px;
					right:-5px;
				}
				&.views-row-3
				{
					background-color:#b31d63;
					width:630px;
					top:315px;
					left:-5px;
				}
				&.views-row-4
				{
					background-color:#b44eaa;
					top:635px;
					left:-5px;
				}
				&.views-row-5
				{
					background-color:#8646a9;
					top:635px;
					right:-5px;
				}

				&:hover
				{
					.views-field-body
					{
						display:block;
					}

					& > .content
					{
						text-align:left;

						& > div > div 
						{
							vertical-align:top;
						}
					}

					.views-field-title
					{
						font-size:20px;
					}
				}

				&.clone 
				{
					position:relative;
					background-image:url(../images/bg-logo-med.png);
					background-position:center center;
					z-index:1;

					& > .content 
					{
						text-align:left;
						position:static;
						margin:5px;
						min-height:870px;

						& > div
						{
							display:block;

							& > div
							{
								display:block;
								vertical-align:top;
							}
						}
					}

					.views-field-title 
					{
						margin-bottom:3px;
					}
					.views-field-body
					{
						display:none;
					}
					.views-field-body-1
					{
						display:block;
						line-height:normal;
					}
				}

				.views-field-title
				{
					font-size:28px;
					font-weight:bold;
					line-height:90%;
				}
				.views-field-date
				{
					font-size:16px;
					font-weight:bold;
					margin-bottom:8px;
					line-height:90%;
				}
				.views-field-body 
				{
					display:none;
					position:relative;
					z-index:0;

					.body-content
					{
						height:175px;
					}
				}
				.views-field-body-1 
				{
					display:none;

					p 
					{
						margin-bottom:0.8em;
					}
				}

				a.views-more-link
				{
					padding:0!important;
					font-weight:bold;
					font-size:16px;
					margin-top:8px;
					color:white;
					text-decoration:none;
					display:block;
				}
				a.expand
				{
					position:absolute;
					top:0;
					left:0;
					z-index:1;
					padding:0!important;
					display:block;
					width:100%;
					height:100%;
					font-size:0;
					color:transparent;
					background-color:#fff;
					opacity:0;
					filter: alpha(opacity=00);
				}
				a.close
				{
					position:absolute;
					display:block;
					top:15px;
					right:15px;
					width:25px;
					height:26px;
					background:url(../images/x.png) no-repeat left top;
					font-size:0;
					color:transparent;
				}
			}
		}
	}
}